html,body{
    padding: 0;
    margin: 0;
    height: 100vh;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: grid;
    grid-template-rows: auto  1fr;
}
*{
    box-sizing: border-box;
}
    
header{
    padding: 0.2rem 1.3rem; 
    
}

nav{
    display: grid;
    grid-template-columns: 350px 600px 250px 600px;
     justify-content: space-between; 
     align-items: center; 
}
.logo{
    height: 3.5rem;
}
.logo-wrapper{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.mic-wrapper{
    position: relative;
    
     
}
#searh-box{
     position: absolute;
    right: 15px;
    height: 36px;
    justify-self:center;
    
}
input{
    height: 2.5rem;
    width: 35rem;
    border: 1px solid rgb(red, green, blue);
    background-color: transparent;
    border-radius: 2rem;
    position: relative;
}
.button-input{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    
}


.u2b{
    height: 50px;
}

.input-container{
    display: flex;
    
}
.input-container input

.input input{
    border-bottom: none;
    outline: none;
    flex: 1;
    height: 100;
    padding-left: 0.8rem;
    width: 20rem;
    
 }.user-wrapper{
    display: flex;
    gap: 1rem;
    
}
.user{
    height: 2rem;
    width: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(125, 56, 56);
    border-radius: 100%;
}
.user p{
    font-size: 1rem;
    font-weight: 400;
    color: white;
    
}
.btn-wrapper{
    
    display: flex;
    gap: 0.5rem;
    margin-left: 18rem;
    padding-top: 1rem;

    
    
}
.btn1>p{
    padding: 3px 2 2 3px;
    
}
.btn1{
    width: 2rem;
    height: 2rem;
    border-radius: 6px;
    
}
.btn2{
    width: 3rem;
    border-radius: 5px;
    height: 1.5rem;
    
}
.btn3{
    width: 5rem;
    border-radius: 5px;
    height: 1.5rem;
}
.btn4{
    width: 7rem;
    border-radius: 5px;
    height: 1.5rem;
    
}
.btn2{
    width: 3rem;
    border-radius: 5px;
    height: 1.5rem;
    
}
.btn5{
    width: 3rem;
    border-radius: 5px;
    height: 1.5rem;
    
}
    

.btn6{
    width: 6rem;
    border-radius: 5px;
    height: 1.5rem;
}
.btn7{
    width: 12rem;
    border-radius: 5px;
    height: 1.5rem;
}
.btn8{
    width: 4rem;
    border-radius: 5px;
    height: 1.5rem;
    
}
.btn9{
    width: 7rem;
    border-radius: 8px;
    height: 1.5rem;
}
.btn0{
    width: 4rem;
    border-radius: 5px;
    height: 1.5rem;
}

 main{
    display: flex;

} 
.side-nav{
    
    display: flex;
    flex-direction: column;
    

}
.side-nav .home-wrapper div{
display: flex;
gap: 1rem;
padding-left: 5 rem;

}
.you-wrapper{
    display: flex;
    flex-direction: column;
    padding-left: 1rem;
}
.you-wrapper div{
    display: flex;
    gap: 1rem;
    align-items: center;
}

.main .video-card img{
    border-radius: 10px;
    height: 12rem;
    width: 22rem;
    margin: 1rem;
}

.video-card .img-desc img {
    width: 2rem;
    height: 2rem;
    border-radius:100%;
    object-fit: cover;

    
}

.img-desc{
    display: flex;
    position: relative;

}
h3{
    display: flex;
    flex-direction: column;
    font-size: smaller;
    
}
p{
    font-size: smaller;
    max-width: 70%;
}
.labels{
    display: flex;
    
}


